/* universal tag apply */
*{
    font-family: 'Open Sans', sans-serif;
}
/* nav bar design */
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: var(--Dark-01, #181818);

 
    font-size: 45px;
    font-style: normal;
     
}
.text-primary{
    color: #FD6E0A; 
}
nav >ul{
    display: flex;
    align-items: center;

}
nav li{
    list-style: none;
    padding: 50px;
  
}
nav li a{
    text-decoration: none;
    color: #474747;
    
}
/* button design */
.btn-primary{
    color: var(--White-Color, #FFF);

font-size: 20px;
background-color: #FD6E0A;


border-radius: 5px;
border:0;
padding: 15px;
}
/* header style */
.header{
    background: #FFF8F3;
    background-image: url(images/header_bg.png),url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,top left;
    padding-left: 30px;
}
/* banner related style */
.banner{
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* image style */
.banner .profile-picture{
    width: 500px;
  
   
}
.banner-greeting{
color: #474747;
margin-bottom: 0;

font-size: 45px;

}
.banner-title{
    color: #181818;
    font-size: 60px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.short description{
    color:#757575;
    font-size: 18px;
    margin-top: 30px;
    
    
}
/* main section */


.banner-content{
    max-width: 500px;
    margin:  auto;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}

.section-title{
    color:  #181818;
    text-align: center;
   
    font-size: 35px;
   
    font-weight: 700;
    
}
.section-about{
    
   margin: 130px 0px;
    
   padding: 130px;
    
    border-radius: 10px;
    background: #FFF8F3;
}
.section-description{
    color: #757575;
    text-align: center;
   
    font-size: 18px;
  
    
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#what i do description{
    padding: 30px 150px ;
}
/* skills */
.my-skills{
   display:flex;
   padding-top: 50px;
}
.skill{
    border-radius: 5px;
background: #FFF;
margin: 20px;
padding: 50px 30px 30px 30px ;

box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* Resume style */
.resume-title{
    color: var #474747;
    margin-bottom: 10px;

font-size: 30px;

font-weight: 700;

}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item-titleinfo, .resume-item-description{
    color:  #757575;
    margin-bottom: 20px;
    margin-top: 0;

font-size: 20px;

font-weight: 600;

    
}
.resume-title,.resume-item-title{
    color:  #474747;

font-size: 25px;

font-weight: 700;

}
.resume-container hr{
    margin: 30px;
}
/* Download cv style */
.download-cv{
  text-align: center;
  margin-top: 50px;
}
footer{
    display: flex;
    margin-top: 130px;
  background: #FFF8F3;
  padding: 130px 200px;
  gap:100px;
 
}
.footer-column{
    width: 50%;
}
.contact input[type="text"],.contact input[type="email"],textarea{
    display: block;
    margin-bottom:24px;
    padding:18px 30px;
    border-radius: 5px;
    width: 100%;
   background:#FFF;
border: none;
}
.social-links a{
margin-right: 25px;
}